<header id="header">
        <div class="container header-container">
            <a href="#" class="logo"><i class="fas fa-ticket-alt"></i>EventHub</a>
            <ul class="nav-links" id="nav-links">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/concerts">Concerts</a></li>
                <li><a routerLink="/theater">Theater</a></li>
                <li><a routerLink="/other">Other</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a routerLink="/login" class="login-btn">Login</a></li>
            </ul>
        </div>
    </header>